body{
    background-color:black;
    font-family: Oswald, sans-serif;
}

.ultilityBar{
    width:auto;
    height:40px;
}

.a-utilityBar{
    height:100%;
    color: white;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.6px;   
    --font-heading-weight: 600;
}

.a-utilityBar:hover{
    text-decoration: underline;
}

.p-utilityBar{
    margin-left: auto;
    margin-right: auto; 
    font-weight: bolder;
    font-style: normal;
    font-size: 15.6px;
}

.top-logo img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.mainContent{
    margin-top: 25px;
}

.pic1 img{
    width: 100%;
}

.fall{
    color: white;
    font-weight: bold;
    width: 100%;
    margin-top: 45px;
}

.fall h2{
    width: 70%;
    margin-left: 13%;
}

#a-product-name{
    text-decoration: none;
    color: white;
}

#a-product-name:hover{
    text-decoration: underline;
}
